@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Metal+Mania&family=Open+Sans&display=swap");
.container {
  display: grid;
  place-content: center;
  height: 100vh;
}

.container select {
  width: 900px;
  height: 50px;
  padding-left: 20px;
  border-color: #a09d9d;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 30px;
}

.container .Text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a09d9d;
}
.container .Text h2 {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
}
